<div class="row">
  <div class="col-md-4"><%= item.product.name %></div>
  <div class="col-md-3"><%= "#{item.product.price} B" %></div>
  <div class="col-md-3"><%= "#{item.product.cost} B" %></div>
  <div class="col-md-2">
    <%= link_to 'X', '#', method: 'delete', class: 'btn btn-danger btn-xs', style: 'font-size: 8px;'%>
  </div>
</div>
