<div class="row">
  <div class="col-md-4"><%= item['name'] %></div>
  <div class="col-md-3"><%= "#{item['price']} B" %></div>
  <div class="col-md-3"><%= "#{item['cost']} B" %></div>
  <div class="col-md-2">
    <%= link_to 'X', '#', method: 'delete', class: 'btn btn-danger btn-xs', style: 'font-size: 8px;'%>
  </div>
</div>
