<div class="container">
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading"><h1 class='text-center'>Summary</h1></div>
      <div class="panel-body">
        <table class="table table-bordered">
          <tr>
            <th>Month/Year</th>
            <th>Total Revenue</th>
            <th>Total Profit</th>
            <th>Total Cost</th>
          </tr>
          <%= render partial: 'summary', collection: @this_year, as: :order %>
        </table>
      </div>
    </div>
  </div>
  <h1 class='text-center'> Order History </h1>
  <table class="table table-bordered table-striped">
    <tr>
      <th><h3>Order ID</h3></th>
      <th><h3>Revenue</h3></th>
      <th><h3>Total Price</h3></th>
      <th><h3>Full Price</h3></th>
      <th><h3>Discount</h3></th>
      <th><h3>Total Cost</h3></th>
      <th><h3>Buyer Name</h3></th>
      <th><h3>Options</h3></th>
    </tr>
    <tr>
      <td class="text-center" colspan=100%>
        <%= link_to 'Add new order', products_path, class: 'btn btn-success'%>
      </td>
    </tr>
    <%= render partial: 'order', collection: @orders, as: :order %>
  </table>
</div>
